<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'page-login.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <amplify-authenticator
    initialState="signIn"
    class="ion-padding ion-margin"
    [formFields]="formFields"
    [signUpAttributes]="signUpAttributes"
  >
    <ng-template amplifySlot="header">
      <div style="padding: var(--amplify-space-large); text-align: center">
        <img
          class="amplify-image"
          alt="Amplify logo"
          src="https://docs.amplify.aws/assets/logo-dark.svg"
        />
      </div>
    </ng-template>

    <ng-template amplifySlot="sign-in-header">
      <h3
        class="amplify-heading"
        style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
      >
        Sign in to your account
      </h3>
    </ng-template>

<!--    <ng-template amplifySlot="sign-in-footer">-->
<!--      <div style="text-align: center">-->
<!--        <ion-button-->
<!--          fill="clear"-->
<!--          class="ion-margin"-->
<!--          (click)="authenticator.toResetPassword()"-->
<!--        >-->
<!--          Reset Password-->
<!--        </ion-button>-->
<!--      </div>-->
<!--    </ng-template>-->

    <ng-template amplifySlot="sign-up-header">
      <h3
        class="amplify-heading"
        style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
      >
        Create a new account
      </h3>
    </ng-template>

<!--    <ng-template amplifySlot="sign-up-footer">-->
<!--      <div style="text-align: center">-->
<!--        <ion-button-->
<!--          fill="clear"-->
<!--          class="ion-margin"-->
<!--          (click)="authenticator.toSignIn()"-->
<!--        >-->
<!--          Back to Sign In-->
<!--        </ion-button>-->
<!--      </div>-->
<!--    </ng-template>-->

    <ng-template amplifySlot="footer">
      <div style="padding: var(--amplify-space-large); text-align: center">
        <p class="amplify-text" style="color: var(--amplify-colors-neutral-80)">
          © All Rights Reserved
        </p>
      </div>
    </ng-template>

    <ng-template amplifySlot="confirm-sign-up-header">
      <h3
        class="amplify-heading"
        style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
      >
        Enter Information:
      </h3>
    </ng-template>

    <ng-template amplifySlot="confirm-sign-up-footer">
      <div>Footer Information</div>
    </ng-template>

    <ng-template amplifySlot="setup-totp-header">
      <h3
        class="amplify-heading"
        style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
      >
        Enter Information:
      </h3>
    </ng-template>

    <ng-template amplifySlot="setup-totp-footer">
      <div>Footer Information</div>
    </ng-template>

    <ng-template amplifySlot="confirm-sign-in-header">
      <h3
        class="amplify-heading"
        style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
      >
        Enter Information:
      </h3>
    </ng-template>

    <ng-template amplifySlot="confirm-sign-in-footer">
      <div>Footer Information</div>
    </ng-template>

    <ng-template amplifySlot="reset-password-header">
      <h3
        class="amplify-heading"
        style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
      >
        Enter Information:
      </h3>
    </ng-template>

    <ng-template amplifySlot="reset-password-footer">
      <div>Footer Information</div>
    </ng-template>

    <ng-template amplifySlot="confirm-reset-password-header">
      <h3
        class="amplify-heading"
        style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
      >
        Enter Information:
      </h3>
    </ng-template>

    <ng-template amplifySlot="confirm-reset-password-footer">
      <div>Footer Information</div>
    </ng-template>

    <!-- sign-up-field override -->
    <ng-template
      amplifySlot="sign-up-form-fields"
      let-validationErrors="validationErrors"
    >
      <!-- Re-use default `Authenticator.SignUp.FormFields` -->
      <amplify-sign-up-form-fields></amplify-sign-up-form-fields>

      <!-- Append & require Terms & Conditions field to sign up -->
      <!--      <amplify-checkbox-->
      <!--        [errorMessage]="validationErrors.acknowledgement"-->
      <!--        [hasError]="!!validationErrors.acknowledgement"-->
      <!--        name="acknowledgement"-->
      <!--        value="yes"-->
      <!--      >-->
      <!--        I agree with the Terms & Conditions-->
      <!--      </amplify-checkbox>-->
      <ion-item
        lines="none"
      >
        <ion-label class="ion-text-wrap">
          I agree with the terms & conditions and privacy policy
        </ion-label>
        <ion-checkbox
          slot="start"
          color="secondary"
          [(ngModel)]="areTermsAccepted"
        ></ion-checkbox>
      </ion-item>
    </ng-template>

    <ng-template
      amplifySlot="authenticated"
    >
      <div class="centered-limited-width ion-text-center">
        <ion-card-header>
          <ion-card-title>
            {{'page-login.text.signedIn' | translate}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </div>
    </ng-template>
  </amplify-authenticator>
</ion-content>
