<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Authentication
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <amplify-authenticator
    class="ion-padding ion-margin"
    [formFields]="formFields"
  >
    <ng-template
      amplifySlot="authenticated"
    >
      <div class="centered-limited-width ion-text-center">
        <ion-card-header>
          <ion-card-title>
            You are signed in!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </div>
    </ng-template>
  </amplify-authenticator>
</ion-content>
