<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'page-home.title' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openTestModal()">
        <ion-icon name="help-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered-limited-width ion-text-center">
    <ion-card-header>
      <ion-card-title>
        {{'general.welcome' | translate}}
      </ion-card-title>
      <ion-card-title>
        {{user.given_name}}&nbsp;{{user.family_name}}
      </ion-card-title>
    </ion-card-header>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    Footer
  </ion-toolbar>
</ion-footer>
