/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~@aws-amplify/ui-angular/theme.css';
/* Important fix for body min-height to correct issue caused by @aws-amplify/ui-angular/theme.css*/
body {
  min-height: 100%;
}

.centered-limited-width {
  max-width: 750px;
  margin: 16px auto;
  width: 95%;
}

.hidden-file-input {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

ion-item.translucent {
  --background: translucent;
  --inner-padding-end: 0;
}

ion-split-pane {
  --side-max-width: 300px;
}
